<div class="container-total">
  <div class="container-products container-products-home">
    <h2>Cart</h2>
    {{#if cart.products.length}}
      <div class="products-content">
        {{#each cart.products}}
          <article class="product">
            <div class="product-text">
              <h3>{{this.product.title}}</h3>
              <p>Category: {{this.product.category}}</p>
              <p>Quantity: {{this.quantity}}</p>
              <p class="price">${{this.product.price}}</p>
            </div>
          </article>
        {{/each}}
      </div>
    {{else}}
      <div class="products-no-find">
        <p class="text-products-without">There are no products</p>
      </div>
    {{/if}}
  </div>
</div>